<!doctype html>
<html>
<head>
	<title>CS602 Term Project</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
<h3>CS602 Term Project - Alexander Dewhirst</h3>
<hr>
	{{{body}}}
</body>
</html>

